spring.application.name=txlforma

spring.datasource.url=${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:4000/txlforma_db?createDatabaseIfNotExist=true}
spring.datasource.username=${SPRING_DATASOURCE_USERNAME:root}
spring.datasource.password=${SPRING_DATASOURCE_PASSWORD:}
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.jpa.generate-ddl=true
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect

app.jwt.secret=${APP_JWT_SECRET:VOTRE_SECRET_JWT_ICI_MINIMUM_32_CARACTERES}
app.jwt.expiration-ms=${APP_JWT_EXPIRATION_MS:86400000}

stripe.secret-key=${STRIPE_SECRET_KEY:sk_test_VOTRE_CLE_SECRETE_STRIPE}
stripe.webhook-secret=${STRIPE_WEBHOOK_SECRET:whsec_VOTRE_WEBHOOK_SECRET_STRIPE}

app.attestations.directory=${APP_ATTESTATIONS_DIRECTORY:attestations}
app.uploads.directory=${APP_UPLOADS_DIRECTORY:uploads}
app.base-url=${APP_BASE_URL:http://localhost:5173}

spring.jackson.time-zone=Europe/Paris
user.timezone=Europe/Paris

